<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> آموزش آشپزی فلفل </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap-rtl/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap-rtl/bootstrap-rtl.min.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>

</head>
<body data-ng-app="appApplication" data-ng-controller="appCTRL" ng-cloak>
<div class="pageLayout d-none" data-role="page" id="mainPage">
    <div class="text-center">
        <img src="assets/img/logo.png" class="logo"/>
        <h1 class="logoName mb-5 "> آشپزی آسان با فلفل </h1>
    </div>
    <div class="pageBody">
        <a class="btn btn-lg btn-danger btn-block my-4 py-3" href="#list">
            <i class="fa fa-bars float-right text-white py-1"></i>فهرست غذاها </a>
        <a class="btn btn-lg btn-danger btn-block my-4 py-3" href="#favorite">
            <i class="fa fa-heart float-right text-white py-1"></i>علاقه مندی ها</a>
        <a class="btn btn-lg btn-danger btn-block my-4 py-3" href="#about">
            <i class="fa fa-certificate  float-right text-white py-1"></i>درباره ما</a>
    </div>
</div>
<div class="pageLayout d-none" data-role="page" id="list">
    <header>
        <h4> فهرست </h4>
        <div class="d-inline-block" data-role="back"><i class="fa fa-chevron-left m-2"></i></div>
    </header>


    <div class="pageBody foodList">
        <div class="text-right mb-3" data-ng-repeat="(key,item) in foodDATA.item"
             data-ng-click="showContent(key)">
            <div class="row">
                <div class="col-4 pl-0">
                    <img class="figure-img img-fluid rounded" data-ng-src="assets/img/food/{{item.images[0]}}"/>
                </div>
                <div class="col-8 text-right">
                    <h5>{{item.name}}</h5>
                    <p class="shortDescription"> {{item.shortDescription.substr(0,90)}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pageLayout d-none" data-role="page" id="showContent">
    <header>
        <h4> {{currentContent.name}} </h4>
        <div class="d-inline-block" data-role="back"><i class="fa fa-chevron-left m-2 "></i></div>
    </header>

    <div class="pageBody text-right">
        <div class="alert alert-danger" data-ng-click="changeFavorite()"> افزودن به لیست علاقه مندی
            <i data-ng-show="currentContent.favorite" class="fa fa-heart float-left"></i>
            <i data-ng-show="!currentContent.favorite" class="fa fa-heart-o float-left"></i>
        </div>
        <div class="shortDescription text-justify"> {{currentContent.shortDescription}}</div>
        <div class="text-center">
            <img class="my-3 figure-img img-fluid rounded" data-ng-src="assets/img/food/{{currentContent.images[0]}}"/>
        </div>
        <div class="text-danger"> مواد لازم :</div>
        <div class="ingredients clearfix" ng-bind-html="currentContent.ingredients"></div>
        <div class="text-center">
            <img class="my-3 figure-img img-fluid rounded" data-ng-src="assets/img/food/{{currentContent.images[1]}}"/>
        </div>
        <div class="text-danger mb-3"> دستور پخت :</div>
        <div ng-bind-html="currentContent.howTo" class="text-justify"></div>
    </div>
</div>
<div class="pageLayout d-none" data-role="page" id="favorite">
    <header>
        <h4> علاقه مندی ها </h4>
        <div class="d-inline-block" data-role="back"><i class="fa fa-chevron-left m-2"></i></div>
    </header>

    <div class="pageBody foodList">
        <div class="text-right alert alert-warning"> غذاهایی که دوست دارید با انتخاب قلب، در این لیست قرار بدهید.
        </div>
        <div class="text-right mb-3" data-ng-repeat="(key,item) in foodDATA.item"
             data-ng-click="showContent(key)" data-ng-show="item.favorite">
            <div class="row">
                <div class="col-4 pl-0">
                    <img class="figure-img img-fluid rounded" data-ng-src="assets/img/food/{{item.images[0]}}"/>
                </div>
                <div class="col-8 text-right">
                    <h5>{{item.name}}</h5>
                    <p class="shortDescription">{{item.shortDescription.substr(0,90)}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pageLayout d-none" data-role="page" id="about">
    <header>
        <h4> درباره ما </h4>
        <div class="d-inline-block" data-role="back"><i class="fa fa-chevron-left m-2"></i></div>
    </header>

    <div class="pageBody">
        <p class="text-right mb-4"> این نرم افزار کاملا رایگان است . هرگونه پیشنهاد و انتقاد با کمال میل پذیرفته میشود
            .</p>
        <div class="text-center mt-4 pt-4"> آدرس اینترنتی طراح اپلیکیشن :
            <h5><a class="text-danger" target="_blank" href="http://hamedinia.ir"> hamedinia.ir</a></h5>
        </div>

    </div>
</div>
</body>
<script src="assets/js/jquery/jquery.min.js"></script>
<script src="assets/js/angular/angular.min.js"></script>
<script src="assets/js/script.js"></script>
</html>